/* #cont{

    background-color: rgb(236, 236, 227);
}
.grid{
    margin-left: 70px;
}

.foot{
    display: flex;
    margin-left: 20px;
}

.a{
    display: inline;
    text-decoration: none;
    color: grey;
   
}
h2{
    margin-left: 50px;
} */
/* footer{
position: sticky;
bottom: 0%;
} */