<p>owner-resgister-restaurant works!</p>
<div class="container-fluid mainDiv">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12 titleDiv">
       
  </div>


    <div class="col-lg-5 col-md-5 col-sm-12">
    <div class="row myrow">
      <div class="col-lg-12 col-md-12 col-sm-12 h-75 d-inline-block text-center mt-3" >
        <mat-card-header class="">
        <mat-card-title class="mytitle ">Enter Restaurant Details Here</mat-card-title>
      </mat-card-header>
      <form [formGroup]="RegisterData"  enctype="multipart/form-data" >
        <hr class="hr-lightwow fadeInDown" data-wow-delay="0.4s">
        <div>  
          <div class="">
            <img width="60" height="60"  class="rounded-circle margin-top mat-elevation-z1"
                [src]="userFile2.url??'/assets/images/image-placeholder.png'"/>
        </div>
        <br>
        <input type="file" placeholder="Enter image" class="form-control fol"
        #inputField  type="file"   (change)="onChangeFileFiled($event)"  required>
     
         </div>
          <br>
        <!-- <mat-form-field appearance="outline" class="w-75 "> -->
          <mat-label>Enter Restaurant Id</mat-label>
          <input matInput type="number" class="form-control" placeholder="Enter restaurantId" formControlName="restaurantId" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <small *ngIf="RegisterData.get('restaurantId')?.touched && RegisterData.get('restaurantId')?.invalid"
                      style="color:red;font-size: large;">Please enter Restaurant Id</small>

      <!-- </mat-form-field> -->
      <br>
        <!-- <mat-form-field  appearance="outline"  class="w-75"> -->
          <mat-label>Enter Restaurant Name</mat-label>
          <input type="text" matInput class="form-control" placeholder="Enter restaurant_Name" formControlName="restaurantName" required> 
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <small *ngIf="RegisterData.get('restaurantName')?.touched && RegisterData.get('restaurantName')?.invalid"
                      style="color:red;font-size: large;">Please enter Restaurant Name</small>
        <!-- </mat-form-field> -->
        <br>
        <!-- <mat-form-field appearance="outline" class="w-75"> -->
          <mat-label>Enter Restaurant City</mat-label>
          <input type="text"class="form-control" matInput placeholder="Enter cityOfRestaurant" formControlName="restaurantLocation" required> 
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <small *ngIf="RegisterData.get('restaurantLocation')?.touched && RegisterData.get('restaurantLocation')?.invalid"
                      style="color:red;font-size: large;">Please enter Restaurant Type</small>
        <!-- </mat-form-field> -->
        <br>
        <!-- <mat-form-field appearance="outline" class="w-75"> -->
          <mat-label>Enter Restaurant Type</mat-label>
          <input type="text"class="form-control" matInput placeholder="Enter typeOfRestaurant" formControlName="typeOfRestaurant" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <small *ngIf="RegisterData.get('typeOfRestaurant')?.touched && RegisterData.get('typeOfRestaurant')?.invalid"
                      style="color:red;font-size: large;">Please enter Restaurant Type</small>
        <!-- </mat-form-field> -->
        <br> 
        <!-- <mat-form-field appearance="outline" class="w-75"> -->
          <mat-label>Enter Restaurant Address</mat-label>
          <input type="text"class="form-control" matInput placeholder="Enter addressOfRestaurant" formControlName="addressOfRestaurant" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <small *ngIf="RegisterData.get('addressOfRestaurant')?.touched && RegisterData.get('addressOfRestaurant')?.invalid"
                      style="color:red;font-size: large;">Please enter Restaurant address</small>
        <!-- </mat-form-field> -->
        <br>
        <!-- <mat-form-field appearance="outline" class="w-75"> -->
          <mat-label>Enter Restaurant Rating</mat-label>
          <input type="number" matInput class="form-control" placeholder="Enter restaurant_rating" formControlName="restaurant_rating" required>             
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <small *ngIf="RegisterData.get('restaurant_rating')?.touched && RegisterData.get('restaurant_rating')?.invalid"
          style="color:red;font-size: large;">Please enter Restaurant Rating</small>
        <!-- </mat-form-field> -->
        <br>
        <!-- <form [formGroup]="RegisterData" enctype="multipart/form-data"  class="modal-content p-2 px-5 form-control"> -->
           <!-- <div formGroupName="cuisineList">
            <label for="menu_id" class="form-label">Cousine-Id</label>
            <input type="text" placeholder="menu_id" formControlName="cuisineId" class="form-control">
                       
             <label for="recipe_name" class="form-label">Recipe Name</label>
            <input type="text" placeholder="recipe_name" formControlName="cuisineName" class="form-control">
                      

            <div class="input-group p-3">
                <input type="file" placeholder="Enter image" class="form-control"
                #inputField  type="file"  (change)="onChangeFileFiled($event)"  required>            
                <div class="">
                  <img width="120" height="120" class="margin-top mat-elevation-z1"
                      [src]="userFile2.url??'/assets/images/image-placeholder.png'" />
                  <svg (click)="inputField.click()" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                      fill="currentColor" class="bi bi-camera2 icon" viewBox="0 0 16 16" style="color: #f79f08;">
                      <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4z" />
                      <path
                          d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.972 5.972 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1zM2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0zM14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0z" />
                  </svg>
              </div>
            </div>
            <label for="price" class="form-label">Price</label>
            <input type="text" placeholder="price" formControlName="price" class="form-control">
                   
            <label for="qty" class="form-label">Qty</label>
            <input type="text" placeholder="qty" formControlName="qty" class="form-control">
                 
            <label for="DishDescription" class="form-label">Dish-Description</label>
            <input type="text" placeholder="DishDescription" formControlName="cuisineDescription" class="form-control">
    
           </div> -->
            
            <!-- <button class="btn btn-primary" (click)="addMenu(RegisterData)" >Add menu</button> -->
        <!-- </form> -->
        <button class="btn btn-success col-lg-5 col-sm-12 col-md-6 me-3 mb-3 mybtn"  (click)="signUp(RegisterData)" type="submit">Submit Now </button>
        <button class="btn btn-danger col-lg-5 col-sm-12 col-md-6 ms-3 mb-3"  type="reset">Reset</button>
      </form>
      </div>
    </div>
    </div>
  </div>
  </div>