<!-- <p>cousine-add-card works!</p>
<div *ngFor="let r of All_restauerstsData">
  <h1>{{r.restaurantName}} </h1>
</div> -->
<div class="  p-3">   
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="50%"   fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let restauransts_data of All_restauerstsData ">
            <mat-card class="mat-elevation-z4 text-right">
              <mat-card-header >
                <mat-card-title>{{restauransts_data.cuisineName}}</mat-card-title>
              </mat-card-header >
              <img  mat-card-image [src]="'data:image/jpeg;base64,' +restauransts_data.image" alt="" class="image2">
              <mat-card-content>
                <p> {{restauransts_data.cuisineDescription}}  </p>
                <p>Price : ${{restauransts_data.price}} </p> 
              </mat-card-content>
              <mat-card-actions class="fav bg-dark col-lg-12">
                <div class="fav1  col-lg-6">

                    <button mat-icon-button-primary  (click)="addToCard()"> 
                        <mat-icon class="i1" >shopping_cart</mat-icon>
                    </button> 

                </div>
                <div class="fav2  col-lg-6">
                    <button mat-icon-button>
                        <mat-icon class="i2">favorite</mat-icon>
                    </button>
                </div>
                
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        </div>
<!-- Modal -->

</div>