
<div class="container-fluid " >
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-5" id="restaurantBg">
            <div class="text-center text-white pt-5">
                <h2 >Register your restaurant on FOODY</h2>
                <p class="">and get more customers!</p>
            </div>
                        <div class="col-lg-12 d-flex" id="btnTag">                           
                                <button class="btn btn-primary col-lg-3" routerLink="/register-admin">Register Your Restaurant</button>                             
                                <button class="btn bg-white col-lg-3"routerLink="/login" >Restaurant already listed? login now</button>                           
                        </div> 


                          <div id="f1"> 
                            <div class=" example-card col-lg-12 card mt-5" >
                                <div class=" p-4">                               
                                    <h1>Get started with online ordering</h1>                                    
                                    <p>Please keep the documents & details ready for a smooth signup</p>
                                             <div id="head" class="col-lg-12"> 
                                           <div class="d-flex chil p-2" >
                                               <div class="col-lg-6 ">
                                                   <mat-icon >done</mat-icon> <span>FSSAI license copy</span> 
                                               </div>
                                               <div class="col-lg-6">
                                                   <mat-icon >done</mat-icon><span>PAN card copy </span> 
                                               </div>                                        
                                           </div>
                                           <div class="d-flex p-2">
                                               <div class="col-lg-6 ">
                                                   <mat-icon >done</mat-icon> <span>Regular GSTIN (if applicable)</span> 
                                               </div>
                                               <div class="col-lg-6">
                                                   <mat-icon >done</mat-icon><span>Bank account details </span> 
                                               </div>
                                           </div>  
                                           <div class="d-flex p-2">
                                               <div class="col-lg-6 ">
                                                   <mat-icon >done</mat-icon> <span>Your restaurant menu</span> 
                                               </div>
                                               <div class="col-lg-6">
                                                   <mat-icon >done</mat-icon><span>Dish images for top 5 items</span> 
                                               </div> 
                                           </div> 
                                       </div>                                   
                                    </div>
                             </div>
                                               
                                                                    </div>                                        
                                                                </div>
                        </div>                  
                                                      
  <!-- --------------------------------- main div close--------------------------->

  <div class="container-fluid col-12 p-4 " id="contant-heading">
    <h1>Why should you partner with Foody?</h1>
    <h6>Foody enables you to get 60% more revenue, 10x new customers and boost your brand visibility by providing insights to improve your business.</h6>
  
</div>    

<!-- <div class="containar-fluid ">
<div class="row">
 <div class="col-lg-12" id="contant-heading2">
    <h1 class="f2">How it works?</h1>
      <div class="col-lg-3 d-flex">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
      </div>
 </div>
</div>
</div> -->



<!-- <div class="container-fluid  pb-5 " id="contant-heading2"> 
        <div class="row">
            <div class="col-lg-12 col-md-9 col-sm-6  ">
            <h1 class="f2">How it works?</h1>
            <div class="d-flex mx-5 col-lg-12 col-md-4 col-sm-2 card-group" >    
                 <div class="col-lg-4 col-md-2 col-sm-1 ">
                     <div class="card" id="p1"> 
                        <div class="text-center mt-5 mb-4 " >
                            <img class="card-img-top " src="../../assets/add-retaurant-image/p1.png" alt="packet-p1" id="imgp1">   
                        </div>               
                            <div class="card-body  mb-3">
                                <h4 class="card-title">Step 1</h4>
                                <h5 class="card-title">Create your page on Foody</h5>
                                <p class="card-text">Help users discover your place by creating a listing on Foody</p>
                            </div>
                     </div>
                 </div>
        
                 <div class="col-lg-4 col-md-2 col-sm-1 ">
                    <div class="card  " id="p1" > 
                       <div class="text-center mt-5 mb-4 " >
                           <img class="card-img-top " src="../../assets/add-retaurant-image/p2.webp" alt="packet-p1" id="imgp1">   
                       </div>               
                           <div class="card-body mb-3">
                               <h4 class="card-title">Step 2</h4>
                               <h5 class="card-title">Register for online ordering</h5>
                               <p class="card-text">And deliver orders to millions of customers with ease</p>
                           </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-1 ">
                    <div class="card  " id="p1" > 
                       <div class="text-center mt-5 mb-4 " >
                           <img class="card-img-top " src="../../assets/add-retaurant-image/p3.webp" alt="packet-p1" id="imgp1">   
                       </div>               
                           <div class="card-body mb-3">
                               <h4 class="card-title">Step 3</h4>
                               <h5 class="card-title">Start receiving orders online</h5>
                               <p class="card-text">Manage orders on our partner app, web dashboard or API partners</p>
                           </div>
                    </div>
                </div>
        
            </div>
        
        </div>                      
        
        </div>
    </div>
</div> -->
