
<div class="containar-fluid mt-5">
    <div class="row">
  <div class="col-lg-12 col-md-6 col-sm-6">
     
          <!-- <h4>Email : {{email_id}} </h4> -->
        <div class="d-flex text-black p-3 col-lg-6 col-md-6 col-sm-2">
            <div class=" mx-3  text-center" > 
                <div class=" firstImg">
                    <img src="../../assets/dash-board/scooter.avif" alt="deliveryScooter" id="scooter">

                </div>           
                <div>
                    Delivery
                   </div>
            </div>
           
                <div class=" mx-3 text-center" > 
                    <div class=" firstImg2">
                        <img src="../../assets/dash-board/dinning out.avif" alt="deliveryScooter" id="scooter">
    
                    </div>           
                    <div>
                        Dining Out
                       </div>
                </div>
                
                    <div class=" mx-3  text-center" > 
                        <div class=" firstImg2">
                            <img src="../../assets/dash-board/night life.webp" alt="deliveryScooter" id="scooter">
        
                        </div>           
                        <div>
                            Nightlife
                           </div>
                    </div>
                </div>

                <div class="pt-3 mb-3">
                    <h1>Top brands for you</h1>
                </div>
        <div class="col-lg-12 d-flex gap-4 col-md-12 col-sm-12">
            <div class=" mx-3  text-center col-lg-2 col-md-2 col-sm-6">
                <a (click)="filter('McDonald')" >
                <div class="firstImg3">
                   
                    <img src="../../assets/dash-board/mc-donal.avif" alt="mcDonal"id="scooter1">
                </div>
               <div>
                McDonald's
               </div>
            </a>
               <div>
                <mat-icon>timer</mat-icon>
                Devlivery in 35 Min
               </div>
            </div>
            <div class=" mx-3  text-center">
                <a (click)="filter('Chicken-Non-Veg')" >
                <div class="firstImg4">
                    <img src="../../assets/dash-board/dominoze.avif" alt="mcDonal"id="scooter1">
               </div>
               <div>
                Domino's Pizza
               </div>
            </a>
               <div>
                <mat-icon>timer</mat-icon>
                Devlivery in 25 Min
               </div>
            </div>
            <div class=" mx-3  text-center">
                <div class="firstImg4">
                    <img src="../../assets/dash-board/kfc.avif" alt="mcDonal"id="scooter1">
               </div>
               <div>
                KFC
               </div>
               <div>
                <mat-icon>timer</mat-icon>
                Devlivery in 30 Min
               </div>
            </div>
            <div class=" mx-3  text-center">
                <div class="firstImg4">
                    <img src="../../assets/dash-board/burger king.avif" alt="mcDonal"id="scooter1">
               </div>
               <div>
                Burger King
               </div>
               <div>
                <mat-icon>timer</mat-icon>
                Devlivery in 20 Min
               </div>
            </div>
            <div class=" mx-3  text-center">
                <div class="firstImg4">
                    <img src="../../assets/dash-board/haldiram.avif" alt="mcDonal"id="scooter1">
               </div>
               <div>
                Haldiram's
               </div>
               <div>
                <mat-icon>timer</mat-icon>
                Devlivery in 45 Min
               </div>
            </div>
            <div class=" mx-3  text-center">
                <div class="firstImg4">
                    <img src="../../assets/dash-board/pizza-hutt.avif" alt="mcDonal"id="scooter1">
               </div>
               <div>
                Pizza Hut
               </div>
               <div>
                <mat-icon>timer</mat-icon>
                Devlivery in 15 Min
               </div>
            </div>
        </div>
        
        
        <div class="pt-4">
            <h1>Best Food in India</h1>
         </div> 
    <!-- <div class="content ">     
        <div fxLayout="row wrap" fxLayoutGap="3em grid" >
         <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="43%" *ngFor="let restauransts_data of data | filter:searchKey:'restaurantLocation' ">
            <mat-card class="mat-elevation-z4 pt-2 text-center mt-2"   >
            <mat-card-header>
                <mat-card-title class="p-4">{{restauransts_data.restaurantName}}</mat-card-title>  
            </mat-card-header>
            <img mat-card-image [src]="'data:images/*;base64,' + restauransts_data.picByte" alt="" >
                       
        <mat-card-content>
            <h4 class="p-2">Restaurants Details</h4>
        <hr>
            <p>Rating : {{restauransts_data.restaurant_rating}}</p>
            <p>Restaurant-type : {{restauransts_data.typeOfRestaurant}}  </p>
            <p>Addres : {{restauransts_data.addressOfRestaurant}}  </p>
            <p>Location : {{restauransts_data.restaurantLocation}}  </p>
        </mat-card-content>
        <hr>
        <div class="col-12 d-flex">
            <div class="col-6">
                <button class="btn btn-primary" [routerLink]="['/all-restaurant/'+restauransts_data.restaurantId]">Cuisions</button>

            </div>
            <div class="col-6 p-2">
                <button class="btn btn-primary"  [routerLink]="['/cousine-To-Card/'+restauransts_data.restaurantId]">Add-favouirte</button>
                 <button class="btn btn-primary"   (click)="addFavRestro(restauransts_data)" >Add-favouirte</button>
                          <button class="btn btn-primary" (click)="addToCart_rest(restauransts_data)" >Add-to-cart-storage</button>
        <button class="btn btn-primary" (click)="addFav(restauransts_data)" >Add-favouirte</button>

            </div>

        </div>

    </mat-card>

         </div>
        </div>
        </div>   -->
        <!-- ----------------------------------------------------------- -->
        <div class="containar-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="content ">
                  <div fxLayout="row wrap" fxLayoutGap="3em grid" >
                   <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="43%" *ngFor="let restauransts_data of data | filter:searchKey:'restaurantLocation'">
                      <mat-card class="mat-elevation-z4 text-center mt-5 ms-5 card mb-1"  [routerLink]="['/all-restaurant/'+restauransts_data.restaurantId]" >
                    
                      <img mat-card-image [src]="'data:image/jpeg;base64,' +restauransts_data.picByte" alt="" class="images">
                        <div  class="mytitle d-flex ">
                          <mat-card-title class="name" >{{restauransts_data.restaurantName}}</mat-card-title> 
                        <samp class="space"></samp> 
                        <div class="bg-success d-flex rounded-pil subtitle mt-1 me-3">
                        <mat-card-subtitle class=" rating mt-1 ms-3">{{restauransts_data.restaurant_rating}}/10 <mat-icon class="grade">grade</mat-icon></mat-card-subtitle>
                       
                      </div>
                     
                        </div>
                    <div class="d-flex mt-2 mb-2 ms-2 me-5">
                      <mat-card-subtitle class="veg">{{restauransts_data.typeOfRestaurant}} </mat-card-subtitle>
                      <samp class="space">
                       <mat-card-subtitle>{{restauransts_data.restaurantLocation}}</mat-card-subtitle>
                    </samp> 
                       <mat-card-subtitle class="add">{{restauransts_data.addressOfRestaurant}}</mat-card-subtitle>
                    </div>
                 <!-- <mat-card-subtitle>{{restauransts_data.restaurantLocation}}</mat-card-subtitle> -->
                
                   <mat-icon (click)="addFavRest(restauransts_data)">favorite</mat-icon>
                  <!-- <button class="btn btn-primary" [routerLink]="['/all-restaurant/'+restauransts_data.restaurantId]">Cuisions</button> -->
                      </mat-card>
                   </div>
                  </div>
                  </div>  
              </div>
            </div>
            
            </div>
  </div>
    </div>
</div>